@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    ViewBag.Title = "Lịch thi";
}

<div class="page-title">Lịch thi</div>

<div class="card">
    <table class="table">
        <thead>
            <tr>
                <th>Mã lịch thi</th>
                <th>Lớp học phần</th>
                <th>Môn học</th>
                <th>Ngày thi</th>
                <th>Giờ bắt đầu</th>
                <th>Giờ kết thúc</th>
                <th>Phòng thi</th>
                <th>Hình thức thi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>LT001</td>
                <td>LHP001</td>
                <td>Lập trình Web</td>
                <td>20/05/2026</td>
                <td>07:30</td>
                <td>09:30</td>
                <td>P301</td>
                <td>Tự luận</td>
            </tr>
            <tr>
                <td>LT002</td>
                <td>LHP002</td>
                <td>Cơ sở dữ liệu</td>
                <td>25/05/2026</td>
                <td>13:30</td>
                <td>15:00</td>
                <td>P204</td>
                <td>Trắc nghiệm</td>
            </tr>
        </tbody>
    </table>
</div>